<%= render("partials/show_style") %>
<%= render 'partials/stats_header' %>

<div class='container'>
  <h1>Button Choices</h1>
  <h2><%= @changes %> have been made to this component.</h2>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Fontsize</h2>
      <ul>
        <li>Max <%= @fontsize_max %>px</li>
        <li>Min <%= @fontsize_min %>px</li>
        <li>Most Chosen <%= @fontsize_most %>px</li>
        <li>Least Chosen <%= @fontsize_least %>px</li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @fontsize %>    
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <%= column_chart @letterspacing %>
    </div>
    <div class='col-md-6'>
      <h2>Letter Spacing</h2>
      <ul>
        <li>Max <%= @letterspacing_max %>px</li>
        <li>Min <%= @letterspacing_min %>px</li>
        <li>Most Chosen <%= @letterspacing_most %>px</li>
        <li>Least Chosen <%= @letterspacing_least %>px</li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Font Weight</h2>
      <ul>
        <li>Max <%= @fontweight_max %>px</li>
        <li>Min <%= @fontweight_min %>px</li>
        <li>Most Chosen <%= @fontweight_most %>px</li>
        <li>Least Chosen <%= @fontweight_least %>px</li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @fontweight %>    
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <%= column_chart @texttransformation %>
    </div>
    <div class='col-md-6'>
      <h2>Text Transformation</h2>
      <ul>
        <li>Most Chosen <%= @texttransformation_most %>px</li>
        <li>Least Chosen <%= @texttransformation_least %>px</li>
      </ul>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <h2>Border-Size</h2>
      <ul>
        <li>Max <%= @border_max %>px</li>
        <li>Min <%= @border_min %>px</li>
        <li>Most Chosen <%= @border_most %>px</li>
        <li>Least Chosen <%= @border_least %>px</li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @border %>    
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <%= column_chart @border_style %>
    </div>
    <div class='col-md-6'>
      <h2>Border-Style</h2>
      <ul>
        <li>Most Chosen <%= @border_style_most %>px</li>
        <li>Least Chosen <%= @border_style_least %>px</li>
      </ul>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <h2>Border-Radius</h2>
      <ul>
        <li>Max <%= @borderradius_max %>px</li>
        <li>Min <%= @borderradius_min %>px</li>
        <li>Most Chosen <%= @borderradius_most %>px</li>
        <li>Least Chosen <%= @borderradius_least %>px</li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @borderradius %>    
    </div>
  </div>

  <div class='row text-color'>
    <h2>Text Color</h2>

    <div class='col-md-4'>    
      <div class='vert vert-block hue-bar'></div>
          <div class="vert box-chart">
            <div class='hue-box'></div>
            <div class='bisector'></div>
          </div>
          <h3>Hue</h3>
          <h4>Most Popular: <%= @color_hue %></h4>
    </div>

    <div class='col-md-4'>
      <div class="vert vert-block saturation-bar"></div>
      <div class='vert box-chart'>
        <div class='saturation-box'></div>
        <div class='bisector'></div>
      </div>
        <h3>Saturation</h3>
        <h4>Most Popular: <%= @color_saturation %>%</h4>
    </div>

    <div class='col-md-4'>
      <div class="vert vert-block luminosity-bar"></div>
      <div class='vert box-chart'>
        <div class='luminosity-box'></div>
        <div class='bisector'></div>
      </div>
        <h3>Luminosity</h3>
        <h4>Most Popular: <%= @color_luminosity %>%</h4>
    </div>
  </div>

  <div class='row bg-color'>
    <h2>Background-Color</h2>

    <div class='col-md-4'>    
      <div class='vert vert-block hue-bar'></div>
          <div class="vert box-chart">
            <div class='hue-box'></div>
            <div class='bisector'></div>
          </div>
          <h3>Hue</h3>
          <h4>Most Popular: <%= @bg_color_hue %></h4>
    </div>

    <div class='col-md-4'>
      <div class="vert vert-block saturation-bar"></div>
      <div class='vert box-chart'>
        <div class='saturation-box'></div>
        <div class='bisector'></div>
      </div>
        <h3>Saturation</h3>
        <h4>Most Popular: <%= @bg_color_saturation %>%</h4>
    </div>

    <div class='col-md-4'>
      <div class="vert vert-block luminosity-bar"></div>
      <div class='vert box-chart'>
        <div class='luminosity-box'></div>
        <div class='bisector'></div>
      </div>
        <h3>Luminosity</h3>
        <h4>Most Popular: <%= @bg_color_luminosity %>%</h4>
    </div>
  </div>

  <div class='row border-color'>
    <h2>Border-Color</h2>

    <div class='col-md-4'>    
      <div class='vert vert-block hue-bar'></div>
          <div class="vert box-chart">
            <div class='hue-box'></div>
            <div class='bisector'></div>
          </div>
          <h3>Hue</h3>
          <h4>Most Popular: <%= @border_color_hue %></h4>
    </div>

    <div class='col-md-4'>
      <div class="vert vert-block saturation-bar"></div>
      <div class='vert box-chart'>
        <div class='saturation-box'></div>
        <div class='bisector'></div>
      </div>
        <h3>Saturation</h3>
        <h4>Most Popular: <%= @border_color_saturation %>%</h4>
    </div>

    <div class='col-md-4'>
      <div class="vert vert-block luminosity-bar"></div>
      <div class='vert box-chart'>
        <div class='luminosity-box'></div>
        <div class='bisector'></div>
      </div>
        <h3>Luminosity</h3>
        <h4>Most Popular: <%= @border_color_luminosity %>%</h4>
    </div>
  </div>
  <%= render 'partials/stats_footer' %>
</div>
