  <h2><%= @changes %> have been made to this component.</h2>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Fontsize</h2>
      <ul>
        <li>Max <%= @fontsize_max %>px</li>
        <li>Min <%= @fontsize_min %>px</li>
        <li>Most Chosen <%= @fontsize_most %>px</li>
        <li>Least Chosen <%= @fontsize_least %>px</li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @fontsize %>    
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <%= column_chart @letterspacing %>
    </div>
    <div class='col-md-6'>
      <h2>Letter Spacing</h2>
      <ul>
        <li>Max <%= @letterspacing_max %>px</li>
        <li>Min <%= @letterspacing_min %>px</li>
        <li>Most Chosen <%= @letterspacing_most %>px</li>
        <li>Least Chosen <%= @letterspacing_least %>px</li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Font Weight</h2>
      <ul>
        <li>Max <%= @fontweight_max %>px</li>
        <li>Min <%= @fontweight_min %>px</li>
        <li>Most Chosen <%= @fontweight_most %>px</li>
        <li>Least Chosen <%= @fontweight_least %>px</li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @fontweight %>    
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <%= column_chart @texttransformation %>
    </div>
    <div class='col-md-6'>
      <h2>Text Transformation</h2>
      <ul>
        <li>Most Chosen <%= @texttransformation_most %>px</li>
        <li>Least Chosen <%= @texttransformation_least %>px</li>
      </ul>
    </div>
  </div>
    <div class='row'>
    <div class='col-md-6'>
      <h2>Word Spacing</h2>
      <ul>
        <li>Max <%= @wordspacing_max %>px</li>
        <li>Min <%= @wordspacing_min %>px</li>
        <li>Most Chosen <%= @wordspacing_most %>px</li>
        <li>Least Chosen <%= @wordspacing_least %>px</li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @wordspacing %>    
    </div>
  </div>
