  <div class='row'>
    <div class='col-md-6'>
      <h2>Fontsize</h2>
      <ul>
        <li>Max: <span class='orange'><%= @fontsize_max %>px</span></li>
        <li>Min: <span class='orange'><%= @fontsize_min %>px</span></li>
        <li>Most Chosen: <span class='orange'><%= @fontsize_most %>px</span></li>
        <li>Least Chosen: <span class='orange'><%= @fontsize_least %>px</span></li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @fontsize %>    
    </div>
  </div>
  <hr class='blue-line'>
  <div class='row'>
    <div class='col-md-6'>
      <%= column_chart @letterspacing %>
    </div>
    <div class='col-md-6'>
      <h2>Letter Spacing</h2>
      <ul>
        <li>Max: <span class='orange'><%= @letterspacing_max %>px</span></li>
        <li>Min: <span class='orange'><%= @letterspacing_min %>px</span></li>
        <li>Most Chosen: <span class='orange'><%= @letterspacing_most %>px</span></li>
        <li>Least Chosen: <span class='orange'><%= @letterspacing_least %>px</span></li>
      </ul>
    </div>
  </div>
  <hr class='blue-line'>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Font Weight</h2>
      <ul>
        <li>Max: <span class='orange'><%= @fontweight_max %></span></li>
        <li>Min: <span class='orange'><%= @fontweight_min %></span></li>
        <li>Most Chosen: <span class='orange'><%= @fontweight_most %></span></li>
        <li>Least Chosen: <span class='orange'><%= @fontweight_least %></span></li>
      </ul>
    </div>
    <div class='col-md-6'>
       : <span class='orange'><%= column_chart @fontweight %>    
    </div>
  </div>
  <hr class='blue-line'>
  <div class='row'>
    <div class='col-md-6'>
     : <span class='orange'><%= column_chart @texttransformation %>
    </div>
    <div class='col-md-6'>
      <h2>Text Transformation</h2>
      <ul>
        <li>Most Chosen: <span class='orange'><%= @texttransformation_most %></span></li>
        <li>Least Chosen: <span class='orange'><%= @texttransformation_least %></span></li>
      </ul>
    </div>
  </div>
  <hr class='blue-line'>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Word Spacing</h2>
      <ul>
        <li>Max: <span class='orange'><%= @wordspacing_max %>px</span></li>
        <li>Min: <span class='orange'><%= @wordspacing_min %>px</span></li>
        <li>Most Chosen: <span class='orange'><%= @wordspacing_most %>px</span></li>
        <li>Least Chosen: <span class='orange'><%= @wordspacing_least %>px</span></li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @wordspacing %>    
    </div>
  </div>
