<div class='vote-gui' id='dragme'>
  <span class='how-to-use' data-toggle="modal" data-target="#instructions">How to use?</span>
  <hr>
  <h3>Now Editing: <span class='properties'><%= @currently_editing %></span></h3>
  <span class='glyphicon glyphicon-move move'></span>
  <button class='btn btn-success good' data-id="<%= @id %>" data-selector="<%= @class %>" data-model="<%= @model %>">I LIKE THIS</button>
  <button class='btn btn-danger bad' data-selector='<%= @class %>'>I DON'T LIKE THIS</button>
  <hr>
  <div class='current-styles'></div>
  <%= link_to path do %>
    <button class='btn btn-primary'>DONE!</button>
  <% end %>
</div>

<%= render "partials/instructions_modal" %>