<%= render("home_style") %>

<div class="container-fluid">
  <header class="header section-selector-<%= @section_selector_id_1 %>">
    <div class="row">
      
      <div class="col-md-2">
        <h1 class="h1-selector-<%= @h1_selector_id_1 %> body-selector-<%= @body_selector_id_1 %>">youi</h1>
      </div>
      
      <div class="col-md-10">
        <nav class="custom-nav">
          <ul class="body-selector-<%= @body_selector_id_2 %>">
            <%= link_to root_path do %>
              <li class="li-selector-<%= @li_selector_id_1 %>">
                Home
              </li>
            <% end %>
            <%= link_to user_path(@cookie) do %>
            <li class="where-am-i li-selector-<%= @li_selector_id_1 %>">
              Custom
            </li>
            <% end %>
            <%= link_to stats_path do %>
            <li class="li-selector-<%= @li_selector_id_1 %>">
              Stats
            </li>
            <% end %>
          </ul>
        </nav>
      </div>
      
    </div>
  </header>
  
  <section class="instructions container">
    <%= render "partials/instructions" %>
      <div class='row'>
        <div class='col-md-7'>
          <button class="button-selector-<%= @button_selector_id_1 %>">
            Try Me
          </button>
        </div>
        <div class='col-md-5'></div>
      </div>
  </section>

  <div class="site-editables section-selector-<%= @section_selector_id_2 %>">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="h2-selector-<%= @h2_selector_id_1 %> body-selector-<%= @body_selector_id_1 %>">Section Colors</h2>
          <ul class="body-selector-<%= @body_selector_id_2 %>">
            <button class="button-selector-<%= @button_selector_id_3 %>">
              Heading
            </button>
             <button class="button-selector-<%= @button_selector_id_3 %>">
              This section
            </button>
            <button class="button-selector-<%= @button_selector_id_3 %>">
              About
            </button>
            <button class="button-selector-<%= @button_selector_id_3 %>">
              Footer
            </button>
          </ul>
        </div>
        <div class="col-md-4">
          <h2 class="h2-selector-<%= @h2_selector_id_1 %> body-selector-<%= @body_selector_id_1 %>">Fonts</h2>
          <ul class="body-selector-<%= @body_selector_id_2 %>">
            <button class="button-selector-<%= @button_selector_id_3 %>">
              Heading Fonts
            </button>
            <button class="button-selector-<%= @button_selector_id_3 %>">
              Body Fonts
            </button>
          </ul>
        </div>
          <div class="col-md-4">
          <h2 class="h2-selector-<%= @h2_selector_id_1 %> body-selector-<%= @body_selector_id_1 %>">Misc</h2>
          <ul class="body-selector-<%= @body_selector_id_2 %>">
            <button class="button-selector-<%= @button_selector_id_3 %>">
              Edit Button
            </button>
            <button class="button-selector-<%= @button_selector_id_3 %>">
              This section's buttons
            </button>
            <button class="button-selector-<%= @button_selector_id_3 %>">
              Navbar
            </button>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <section class="info section-selector-<%= @section_selector_id_3 %>">
    <div class="container">
       <h3 class="h3-selector-<%= @h3_selector_id_1 %> body-selector-<%= @body_selector_id_1 %>">About</h3>
      <p class="paragraph-selector-<%= @paragraph_selector_id_1 %> body-selector-<%= @body_selector_id_2 %>">
        <%= render "partials/about_info" %>
      </p>
      
      <div class="inspirations">
      <h3 class="h3-selector-<%= @h3_selector_id_1 %> body-selector-<%= @body_selector_id_1 %>">Inspirations</h3>
      <div class="row">
        
        <div class="col-md-6">
          <figure>
            <img class="image-selector-<%= @image_selector_id_1 %>" src="/twitch.jpg" alt="Twitch Plays Pokemon" />
            <h4 class="h4-selector-<%= @h4_selector_id_1 %> body-selector-<%= @body_selector_id_1 %>">Twitch plays pokemon</h4>
          </figure>
          
          <p class="paragraph-selector-<%= @paragraph_selector_id_2 %> body-selector-<%= @body_selector_id_2 %>">
            <%= render "partials/twitch_info" %>
          </p>
        </div>
        
        <div class="col-md-6">
           <figure>
            <img class="image-selector-<%= @image_selector_id_1 %>" src="/faces.jpg" alt="Average of women"s faces" />
            <h4 class="h4-selector-<%= @h4_selector_id_1 %> body-selector-<%= @body_selector_id_1 %>">Average Face Experiment</h4>
          </figure>
          <p class="paragraph-selector-<%= @paragraph_selector_id_2 %> body-selector-<%= @body_selector_id_2 %>">
            <%= render "partials/faces_info" %>
          </p>
        </div>
        
      </div>
      </div>
      
    </div>
  </section>
  
  <footer class="footer section-selector-<%= @section_selector_id_4 %>">
    <h5 class="h5-selector-<%= @h5_selector_id_1 %> body-selector-<%= @body_selector_id_1 %>">Curated by Greg Perlman. Copyright 2016</h5>
  </footer>
</div>