<%= render 'home_style' %>
<%= render "partials/current_modal" %>
<div class="container-fluid body">
  <%= render 'custom_modal' %>
  <header class="can-explore header section active-section section-selector-<%= @section_selector_id_1 %>"
    data-toggle="tooltip" data-placement="bottom" 
    data-html="true" 
    title="
      <div class='big-tips'>
        <h3>Header Section</h3>
        <ul>
          <li>
          Color (hsl): (
            <%= @section_1_color_hue %>,
            <%= @section_1_color_saturation %>%,
            <%= @section_1_color_luminosity %>%)
          </li>
          <li>
          Background-Color (hsl): (
            <%= @section_1_bg_color_hue %>,
            <%= @section_1_bg_color_saturation %>%,
            <%= @section_1_bg_color_luminosity %>%)
          </li>
        </ul>
      </div>"
    >
    <div class='container'>
      <div class="row">
          <div class="col-md-2">
          <%= link_to user_train_path("h1", "h1-selector", @h1_selector_id_1) do %>
            <h1 class="h1-selector-<%= @h1_selector_id_1 %> component active can-explore body-selector-<%= @body_selector_id_1 %>"
              data-toggle="tooltip" data-placement="right" 
              data-html="true"
              title="
              <div class='big-tips'>
                <h3>Heading 1</h3>
                <ul>
                  <li>
                    Font Size: <%= @h1_font_size %>px
                  </li>
                  <li>
                    Text Transformation: <%= @h1_text_transform %>
                  </li>
                  <li>
                    Letter Spacing <%= @h1_letter_spacing %>px
                  </li>
                  <li>
                    Font Weight: <%= @h1_font_weight %>
                  </li>
                </ul>
              </div>"
            >youi</h1>
          <% end %>
        </div>      
        <div class="col-md-10">
          <nav class="custom-nav can-explore">
            <ul class="can-explore body-selector-<%= @body_selector_id_2 %>"
              data-toggle="tooltip" data-placement="bottom" 
              data-html="true"
              title="
              <div class='big-tips'>
                <h3>Navbar</h3>
                <ul>
                  <li>
                    Font Size: <%= @li_font_size %>px
                  </li>
                  <li>
                    Text Transformation: <%= @li_text_transform %>
                  </li>
                  <li>
                    Letter Spacing: <%= @li_letter_spacing %>px
                  </li>
                  <li>
                    Font-Style: <%= @li_font_style %>
                  </li>
                </ul>
              </div>"
              >
              <%= link_to root_path do %>
                <li class="li-selector-<%= @li_selector_id_1 %>">
                  Home
                </li>
              <% end %>
              <%= link_to user_path(@cookie) do %>
                <li class="where-am-i li-selector-<%= @li_selector_id_1 %>">
                  Custom
                </li>
              <% end %>
              <%= link_to stats_path do %>
                <li class="li-selector-<%= @li_selector_id_1 %>">
                  Stats
                </li>
              <% end %>
              <span class="li-selector-<%= @li_selector_id_1 %>"> |</span>
              <%= link_to user_create_path(@cookie), :method => :post do %>
                <li class="li-selector-<%= @li_selector_id_1 %>">
                  New Session
                </li>
              <% end %>
              <li class="li-selector-<%= @li_selector_id_1 %> save" data-toggle="modal" data-target="#save">
                Save
              </li>
            </ul>
          </nav>
        </div>      
      </div>
    </div>
  </header>
  
  
  <section class="instructions container">
    <p class='you'>**Only YOU can see this page</p>
    <%= render "partials/instructions", count: @total_count  %>
    <div class='row'>
      <div class='col-md-7'>
        <div class="component active try-me">
          <%= link_to user_train_path("button", "button-selector", @button_selector_id_1) do %>
          <button class="can-explore button-selector-<%= @button_selector_id_1 %> button-selector body-selector-<%= @body_selector_id_2 %>"
            data-toggle="tooltip" data-placement="right" 
            data-html="true"
            title="
            <div class='big-tips'>
              <h3>Try Me Button</h3>
              <ul>
                <li>
              Font Size: <%= @button_1_font_size %>px
                </li>
                <li>
              Font Weight: <%= @button_1_font_weight %>
                </li>
                <li>
              Text Transformation: <%= @button_1_text_transform %>
                </li>
                <li>
              Letter Spacing: <%= @button_1_letter_spacing %>px
                </li>
                <li>
              Padding: <%= @button_1_padding %>px
                </li>
                <li>
              Border Size: <%= @button_1_border %>px
                </li>
                <li>
              Border-Radius: <%= @button_1_border_radius %>px
                </li>
                <li>
              Border-Style: <%= @button_1_border_style %>
                </li>
                <li>
              Color (hsl): (
                <%= @button_1_color_hue %>, 
                <%= @button_1_color_saturation %>%, 
                <%= @button_1_color_luminosity %>%)
                </li>
                <li>
              Border-color (hsl): (
                <%= @button_1_border_color_hue %>, 
                <%= @button_1_border_color_saturation %>%, 
                <%= @button_1_border_color_luminosity %>%)
                </li>
                <li>
              Background-Color (hsl): (
                <%= @button_1_bg_color_hue %>, 
                <%= @button_1_bg_color_saturation %>%, 
                <%= @button_1_bg_color_luminosity %>%)
                </li>
              </ul>
            </div>"
          >Try Me</button>
          <% end %>
        </div>
      </div>
      <div class='col-md-5'></div>
    </div>
  </section>
  
<div class="can-explore site-editables section active-section section-selector-<%= @section_selector_id_2 %>"
    data-toggle="tooltip" data-placement="top"
    data-html="true" 
    title="
      <div class='big-tips'>
        <h3>Font Section</h3>
        <ul>
          <li>
          Color (hsl): (
            <%= @section_2_color_hue %>,
            <%= @section_2_color_saturation %>%,
            <%= @section_2_color_luminosity %>%)
          </li>
          <li>
          Background-Color (hsl): (
            <%= @section_2_bg_color_hue %>,
            <%= @section_2_bg_color_saturation %>%,
            <%= @section_2_bg_color_luminosity %>%)
          </li>
        </ul>
      </div>"  
    >

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= link_to user_train_path("h2", "h2-selector", @h2_selector_id_1) do %>
            <h2 class="can-explore h2-selector-<%= @h2_selector_id_1 %> component active body-selector-<%= @body_selector_id_1 %>"
              data-toggle="tooltip" data-placement="right" 
              data-html="true"
              title="
              <div class='big-tips'>
                <h3>Heading 2</h3>
                <ul>
                  <li>
                    Font Size: <%= @h2_font_size %>px
                  </li>
                  <li>
                    Text Transformation: <%= @h2_text_transform %>
                  </li>
                  <li>
                    Letter Spacing: <%= @h2_letter_spacing %>px
                  </li>
                  <li>
                    Font Weight: <%= @h2_font_weight %>
                  </li>
                  <li>
                    word-spacing: <%= @h2_word_spacing %>px
                  </li>
                </ul>
              </div>"
            >Title Fonts</h2>
            <hr>
          <% end %>
          <%= link_to train_path("body", "body-selector", @body_selector_id_1 ) do %>
              <p class='actual-fonts not can-explore component active can-explore body-selector-<%= @body_selector_id_1 %>'  
               data-toggle="tooltip" data-placement="right"
               data-html="true"
                title="
                <div class='big-tips'>
                  <h4>Heading Fonts: <%= @heading_font %></h4> 
                </div>"
              >The quick brown fox jumps over the lazy dog</p>
            <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to user_train_path("h2", "h2-selector", @h2_selector_id_1) do %>
            <h2 class="can-explore h2-selector-<%= @h2_selector_id_1 %> component active body-selector-<%= @body_selector_id_1 %>"
              data-toggle="tooltip" data-placement="right" 
              data-html="true"
              title="
              <div class='big-tips'>
                <h3>Heading 2</h3>
                <ul>
                  <li>
                    Font Size: <%= @h2_font_size %>px
                  </li>
                  <li>
                    Text Transformation: <%= @h2_text_transform %>
                  </li>
                  <li>
                    Letter Spacing: <%= @h2_letter_spacing %>px
                  </li>
                  <li>
                    Font Weight: <%= @h2_font_weight %>
                  </li>
                  <li>
                    word-spacing: <%= @h2_word_spacing %>px
                  </li>
                </ul>
              </div>"
            >Body Font</h2>
            <hr>
          <% end %>
          <%= link_to train_path("body", "body-selector", @body_selector_id_2 ) do %>
              <p class='actual-fonts not can-explore component active can-explore body-selector-<%= @body_selector_id_2 %>'  
               data-toggle="tooltip" data-placement="right"
               data-html="true"
                title="
                <div class='big-tips'>
                  <h4>Heading Fonts: <%= @heading_font %></h4> 
                </div>"
              >The quick brown fox jumps over the lazy dog</p>
            <% end %>
        </div>

      </div>
    </div>
  </div>

  <section class="can-explore info section active-section section-selector-<%= @section_selector_id_3 %>"
      data-toggle="tooltip" data-placement="bottom" 
      data-html="true" 
      title="
        <div class='big-tips'>
          <h3>Info Section</h3>
          <ul>
            <li>
            Color (hsl): (
              <%= @section_3_color_hue %>,
              <%= @section_3_color_saturation %>%,
              <%= @section_3_color_luminosity %>%)
            </li>
            <li>
            Background-Color (hsl): (
              <%= @section_3_bg_color_hue %>,
              <%= @section_3_bg_color_saturation %>%,
              <%= @section_3_bg_color_luminosity %>%)
            </li>
          </ul>
        </div>"
    >
    <div class="container">
      <%= link_to user_train_path("h3", "h3-selector", @h3_selector_id_1) do %>
        <h3 class="can-explore h3-selector-<%= @h3_selector_id_1 %> component active body-selector-<%= @body_selector_id_1 %>"
          data-toggle="tooltip" data-placement="top" 
          data-html="true"
          title="
          <div class='big-tips'>
            <h3>Heading 3</h3>
            <ul>
              <li>
                Font Size: <%= @h3_font_size %>px
              </li>
              <li>
                Text Transformation: <%= @h3_text_transform %>
              </li>
              <li>
                Letter Spacing: <%= @h3_letter_spacing %>px
              </li>
              <li>
                Font Weight: <%= @h3_font_weight %>
              </li>
              <li>
                word-spacing: <%= @h3_word_spacing %>px
              </li>
            </ul>
          </div>"
        >About</h3>
      <% end %>
      
      <%= link_to user_train_path("paragraph", "paragraph-selector", @paragraph_selector_id_1) do %>
        <p class="can-explore paragraph-selector-<%= @paragraph_selector_id_1 %> component active body-selector-<%= @body_selector_id_2 %>"
          data-toggle="tooltip" data-placement="top" 
          data-html="true"
          title="
          <div class='big-tips'>
            <h3>About Paragraph</h3>
            <ul>
              <li>
                Font Size: <%= @paragraph_1_font_size %>px
              </li>
              <li>
                text-align: <%= @paragraph_1_text_align %>
              </li>
              <li>
                Padding: <%= @paragraph_1_padding %>px
              </li>
              <li>
                text-indent: <%= @paragraph_1_indent %>px
              </li>
              <li>
                word-spacing: <%= @paragraph_1_word_spacing %>px
              </li>
            </ul>
          </div>"
          >
          <%= render "partials/about_info" %>
        </p>
      <% end %>
      
      <div class="inspirations">
        <%= link_to user_train_path("h3", "h3-selector", @h3_selector_id_1) do %>
          <h3 class="can-explore h3-selector-<%= @h3_selector_id_1 %> component active body-selector-<%= @body_selector_id_1 %>"
            data-toggle="tooltip" data-placement="top" 
            data-html="true"
            title="
            <div class='big-tips'>
              <h3>Heading 3</h3>
              <ul>
                <li>
                  Font Size: <%= @h3_font_size %>px
                </li>
                <li>
                  Text Transformation: <%= @h3_text_transform %>
                </li>
                <li>
                  Letter Spacing: <%= @h3_letter_spacing %>px
                </li>
                <li>
                  Font Weight: <%= @h3_font_weight %>
                </li>
                <li>
                  word-spacing: <%= @h3_word_spacing %>px
                </li>
              </ul>
            </div>"
          >Inspirations</h3>
        <% end %>
      <div class="row">
        
        <div class="col-md-6">
          <figure>
            <div class="component active can-explore"
                data-toggle="tooltip" data-placement="top" 
                data-html="true"
                title="
                <div class='big-tips'>
                  <ul>
                  <h3>Image</h3>
                   <li>
                      Padding: <%= @image_padding %>px
                    </li>
                    <li>
                      Border Size: <%= @image_border %>px
                    </li>
                    <li>
                      Border-Radius: <%= @image_border_radius %>px
                    </li>
                    <li>
                      height: <%= @image_height %>px
                    </li>
                    <li>
                      width: <%= @image_width %>px
                    </li>
                    <li>
                    Border-color (hsl): (
                      <%= @image_border_color_hue %>, 
                      <%= @image_border_color_saturation %>%, 
                      <%= @image_border_color_luminosity %>%)
                    </li>
                  </ul>
                </div>"
              >
              <%= link_to user_train_path("image", "image-selector", @image_selector_id_1) do %>
                <img class="image-selector-<%= @image_selector_id_1 %> image-selector" src="/twitch.jpg" alt="Twitch Plays Pokemon">
              <% end %>
            </div>
            <%= link_to user_train_path("h4", "h4-selector", @h4_selector_id_1) do %>
              <h4 class="can-explore h4-selector-<%= @h4_selector_id_1 %> component active body-selector-<%= @body_selector_id_1 %>"
                data-toggle="tooltip" data-placement="top" 
                data-html="true"
                title="
                <div class='big-tips'>
                  <h3>Heading 4</h3>
                  <ul>
                    <li>
                      Font Size: <%= @h4_font_size %>px
                    </li>
                    <li>
                      Text Transformation: <%= @h4_text_transform %>
                    </li>
                    <li>
                      Letter Spacing: <%= @h4_letter_spacing %>px
                    </li>
                    <li>
                      Font Weight: <%= @h4_font_weight %>
                    </li>
                    <li>
                      word-spacing: <%= @h4_word_spacing %>px
                    </li>
                  </ul>
                </div>"
              >Twtich Plays Pokemon</h4>
            <% end %>
          </figure>
          
          <%= link_to user_train_path("paragraph", "paragraph-selector", @paragraph_selector_id_2) do %>
            <p class="can-explore paragraph-selector-<%= @paragraph_selector_id_2 %> component active body-selector-<%= @body_selector_id_2 %>"
              data-toggle="tooltip" data-placement="top" 
              data-html="true"
              title="
              <div class='big-tips'>
                <h3>Inspiration Paragraph</h3>
                <ul>
                  <li>
                    Font Size: <%= @paragraph_2_font_size %>px
                  </li>
                  <li>
                    text-align: <%= @paragraph_2_text_align %>
                  </li>
                  <li>
                    Padding: <%= @paragraph_2_padding %>px
                  </li>
                  <li>
                    text-indent: <%= @paragraph_2_indent %>px
                  </li>
                  <li>
                    word-spacing: <%= @paragraph_2_word_spacing %>px
                  </li>
                </ul>
              </div>"
            >
              <%= render "partials/twitch_info" %>
            </p>
          <% end %>
        </div>
        
        <div class="col-md-6">
           <figure>
            <div class="component active can-explore"
               data-toggle="tooltip" data-placement="top" 
                data-html="true"
                title="
                <div class='big-tips'>
                  <ul>
                  <h3>Image</h3>
                   <li>
                      Padding: <%= @image_padding %>px
                    </li>
                    <li>
                      Border Size: <%= @image_border %>px
                    </li>
                    <li>
                      Border-Radius: <%= @image_border_radius %>px
                    </li>
                    <li>
                      height: <%= @image_height %>px
                    </li>
                    <li>
                      width: <%= @image_width %>px
                    </li>
                    <li>
                    Border-color (hsl): (
                      <%= @image_border_color_hue %>, 
                      <%= @image_border_color_saturation %>%, 
                      <%= @image_border_color_luminosity %>%)
                    </li>
                  </ul>
                </div>"
              >
              <%= link_to user_train_path("image", "image-selector", @image_selector_id_1) do %>
                <img class="image-selector-<%= @image_selector_id_1 %> image-selector" src="/faces.jpg" alt="Average of women's faces">
              <% end %>
            </div>
            <%= link_to user_train_path("h4", "h4-selector", @h4_selector_id_1) do %>
              <h4 class="can-explore h4-selector-<%= @h4_selector_id_1 %> component active body-selector-<%= @body_selector_id_1 %>"
                data-toggle="tooltip" data-placement="top" 
                data-html="true"
                title="
                <div class='big-tips'>
                  <h3>Heading 4</h3>
                  <ul>
                    <li>
                      Font Size: <%= @h4_font_size %>px
                    </li>
                    <li>
                      Text Transformation: <%= @h4_text_transform %>
                    </li>
                    <li>
                      Letter Spacing: <%= @h4_letter_spacing %>px
                    </li>
                    <li>
                      Font Weight: <%= @h4_font_weight %>
                    </li>
                    <li>
                      word-spacing: <%= @h4_word_spacing %>px
                    </li>
                  </ul>
                </div>"
              >Average Faces of Women</h4>
            <% end %>
          </figure>
          <%= link_to user_train_path("paragraph", "paragraph-selector", @paragraph_selector_id_2) do %>
            <p class="can-explore paragraph-selector-<%= @paragraph_selector_id_2 %> component active body-selector-<%= @body_selector_id_2 %>"
              data-toggle="tooltip" data-placement="top" 
              data-html="true"
              title="
              <div class='big-tips'>
                <h3>Inspiration Paragraph</h3>
                <ul>
                  <li>
                    Font Size: <%= @paragraph_2_font_size %>px
                  </li>
                  <li>
                    text-align: <%= @paragraph_2_text_align %>
                  </li>
                  <li>
                    Padding: <%= @paragraph_2_padding %>px
                  </li>
                  <li>
                    text-indent: <%= @paragraph_2_indent %>px
                  </li>
                  <li>
                    word-spacing: <%= @paragraph_2_word_spacing %>px
                  </li>
                </ul>
              </div>"
            >
              <%= render "partials/faces_info" %>
            </p>
          <% end %>
        </div>
        
      </div>
      </div>
      
    </div>
  </section>
  
  <footer class="footer can-explore section active-section section-selector-<%= @section_selector_id_4 %>"
      data-toggle="tooltip" data-placement="top" 
      data-html="true" 
      title="
        <div class='big-tips'>
          <h3>Footer Section</h3>
          <ul>
            <li>
            Color (hsl): (
              <%= @section_4_color_hue %>,
              <%= @section_4_color_saturation %>%,
              <%= @section_4_color_luminosity %>%)
            </li>
            <li>
            Background-Color (hsl): (
              <%= @section_4_bg_color_hue %>,
              <%= @section_4_bg_color_saturation %>%,
              <%= @section_4_bg_color_luminosity %>%)
            </li>
          </ul>
        </div>"
    >
    <%= link_to user_train_path("h5", "h5-selector", @h5_selector_id_1) do %>
      <h5 class="can-explore h5-selector-<%= @h5_selector_id_1 %> component active body-selector-<%= @body_selector_id_1 %>"
        data-toggle="tooltip" data-placement="right" 
          data-html="true"
          title="
          <div class='big-tips'>
            <h3>Heading 5</h3>
            <ul>
              <li>
                Font Size: <%= @h5_font_size %>px
              </li>
              <li>
                Text Transformation: <%= @h5_text_transform %>
              </li>
              <li>
                Letter Spacing: <%= @h5_letter_spacing %>px
              </li>
              <li>
                Font Weight: <%= @h5_font_weight %>
              </li>
              <li>
                word-spacing: <%= @h5_word_spacing %>px
              </li>
            </ul>
          </div>"
      >Curated by Greg Perlman. Copyright 2016</h5>
    <% end %>
  </footer> 
</div>