<%= render 'partials/stats_header' %>

<div class='stats-sub-heading'>
  <h1>Heading 1 Choices</h1>
  <h2><%= @changes %> changes have been made to this component.</h2>
</div>
<div class='container graph-div'>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Fontsize</h2>
      <ul>
        <li>Max: <span class='orange'><%= @fontsize_max %>px</span></li>
        <li>Min: <span class='orange'><%= @fontsize_min %>px</span></li>
        <li>Most Chosen: <span class='orange'><%= @fontsize_most %>px</span></li>
        <li>Least Chosen: <span class='orange'><%= @fontsize_least %>px</span></li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @fontsize, xtitle: "Pixels", ytitle: "Likes", label: "Likes" %>    
    </div>
  </div>
  <hr class='blue-line'>
  <div class='row'>
    <div class='col-md-6'>
      <%= column_chart @letterspacing, xtitle: "Pixels", ytitle: "Likes", label: "Likes" %>
    </div>
    <div class='col-md-6'>
      <h2>Letter Spacing</h2>
      <ul>
        <li>Max: <span class='orange'><%= @letterspacing_max %>px</span></li>
        <li>Min: <span class='orange'><%= @letterspacing_min %>px</span></li>
        <li>Most Chosen: <span class='orange'><%= @letterspacing_most %>px</span></li>
        <li>Least Chosen: <span class='orange'><%= @letterspacing_least %>px</span></li>
      </ul>
    </div>
  </div>
  <hr class='blue-line'>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Font Weight</h2>
      <ul>
        <li>Max: <span class='orange'><%= @fontweight_max %></span></li>
        <li>Min: <span class='orange'><%= @fontweight_min %></span></li>
        <li>Most Chosen: <span class='orange'><%= @fontweight_most %></span></li>
        <li>Least Chosen: <span class='orange'><%= @fontweight_least %></span></li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @fontweight, xtitle: "Weight", ytitle: "Likes", label: "Likes" %>    
    </div>
  </div>
  <hr class='blue-line'>
  <div class='row'>
    <div class='col-md-6'>
      <%= column_chart @texttransformation, xtitle: "Transformations",  ytitle: "Likes", label: "Likes" %>
    </div>
    <div class='col-md-6'>
      <h2>Text Transformation</h2>
      <ul>
        <li>Most Chosen: <span class='orange'><%= @texttransformation_most %></span></li>
        <li>Least Chosen: <span class='orange'><%= @texttransformation_least %></span></li>
      </ul>
    </div>
  </div>
</div>
  <%= render 'partials/stats_footer' %>
