<%= render("home_style") %>

<div class='container-fluid body'>
  
  <header class='header section active-section section-selector-1'>
    <div class='row'>
      
      <div class='col-md-2'>
        <%= link_to train_path("h1", "h1-selector", 1) do %>
          <h1 class='h1-selector-1 component active body-selector-1'>youi</h1>
        <% end %>
      </div>      
      <div class='col-md-10'>
        <nav class='nav'>
          <ul class='body-selector-2'>
            <li class='li-selector-1'>
              <button class='edit button-selector-2'>Edit Mode</button><span class='edit-mode'>On</span>
            </li>
            <span class='li-selector-1'> |</span>
            <li class='li-selector-1'>
              Stats
            </li>
            <li class='li-selector-1'>
              Login
            </li>
          </ul>
        </nav>
      </div>      
    </div>
  </header>
  
  
  <section class='instructions section active-section'>
    <span class='loud'>
      It's Your Site
    </span>
    <p>Current number of changes: <%= $count %></p>
    <p>
      Components with a <span class='green'>green</span> border are individually editable
    </p>
    <p>
      Sections with a <span class='blue'>blue</span> border mean you can edit an entire container (i.e. color scheme, spacing)
    </p>

    <%= link_to train_path("button", "button-selector", 1) do %>
      <button class='button-selector-1 button-selector component active body-selector-2'>Try Me</button>
    <% end %>
  </section>
  
  <div class='container site-editables section-selector-2'>

    <div class='row'>
      <div class='col-md-4'>
        <%= link_to train_path("h2", "h2-selector", 1) do %>
          <h2 class='h2-selector-1 component active body-selector-1'>Section Colors</h2>
        <% end %>
        <ul class='body-selector-2'>
          <%= link_to train_path("section", "section-selector", 1) do %>
            <button class='button-selector-3 button-selector'>Heading</button>
          <% end %>
          <%= link_to train_path("section", "section-selector", 2) do %>
            <button class='button-selector-3 button-selector'>This Section</button>
          <% end %>
          <%= link_to train_path("section", "section-selector", 3) do %>
            <button class='button-selector-3 button-selector'>About</button>
          <% end %>
          <%= link_to train_path("section", "section-selector", 4) do %>
            <button class='button-selector-3 button-selector'>Footer</button>
          <% end %>
        </ul>
      </div>
      <div class='col-md-4'>
        <%= link_to train_path("h2", "h2-selector", 1) do %>
          <h2 class='h2-selector-1 component active body-selector-1'>Fonts</h2>
        <% end %>
        <ul class='body-selector-2'>
          <%= link_to train_path("body", "body-selector", 1) do %>
            <button class='button-selector-3 button-selector'>Heading Fonts</button>
          <% end %>
          <%= link_to train_path("body", "body-selector", 2) do %>
            <button class='button-selector-3 button-selector'>Body Fonts</button>
          <% end %>
          <!-- <button>
            Line Height
          </button> -->
        </ul>
      </div>
        <div class='col-md-4'>
        <%= link_to train_path("h2", "h2-selector", 1) do %>
          <h2 class='h2-selector-1 component active body-selector-1'>Other Editables</h2>
        <% end %>
        <ul class='body-selector-2'>
          <%= link_to train_path("button", "button-selector", 2) do %>
            <button class='button-selector-3 button-selector'>Edit Button</button>
          <% end %>
          <%= link_to train_path("button", "button-selector", 3) do %>
            <button class='button-selector-3 button-selector'>Body Fonts</button>
          <% end %>
          <%= link_to train_path("li", "li-selector", 1) do %>
            <button class='button-selector-3 component active'>Top-right Nav</button>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <section class='info section active-section section-selector-3'>
    <div class='container'>
      <%= link_to train_path("h3", "h3-selector", 1) do %>
        <h3 class='h3-selector-1 component active body-selector-1'>About</h3>
      <% end %>
      
      <%= link_to train_path("paragraph", "paragraph-selector", 1) do %>
        <p class='paragraph-selector-1 component active body-selector-2'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <% end %>
      
      <div class='inspirations'>
        <%= link_to train_path("h3", "h3-selector", 1) do %>
          <h3 class='h3-selector-1 component active body-selector-1'>Inspirations</h3>
        <% end %>
      <div class='row'>
        
        <div class='col-md-6'>
          <figure>
            <%= link_to train_path("image", "image-selector", 1) do %>
              <img class="image-selector-1 image-selector" src="/twitch.jpg" alt="Twitch Plays Pokemon">
            <% end %>
            <%= link_to train_path("h4", "h4-selector", 1) do %>
              <h4 class='h4-selector-1 component active body-selector-1'>Twtich Plays Pokemon</h4>
            <% end %>
          </figure>
          
          <%= link_to train_path("paragraph", "paragraph-selector", 2) do %>
            <p class='paragraph-selector-2 component active body-selector-2'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <% end %>
        </div>
        
        <div class='col-md-6'>
           <figure>
              <%= link_to train_path("image", "image-selector", 1) do %>
                <img class="image-selector-1 image-selector" src="/faces.jpg" alt="Average of women's faces">
              <% end %>
            <%= link_to train_path("h4", "h4-selector", 1) do %>
              <h4 class='h4-selector-1 component active body-selector-1'>Average Faces of Women</h4>
            <% end %>
          </figure>
          <%= link_to train_path("paragraph", "paragraph-selector", 2) do %>
            <p class='paragraph-selector-2 component active body-selector-2'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <% end %>
        </div>
        
      </div>
      </div>
      
    </div>
  </section>
  
  <footer class='footer section active-section section-selector-4'>
    <%= link_to train_path("h5", "h5-selector", 1) do %>
      <h5 class='h5-selector-1 component active body-selector-1'>Curated by Greg Perlman. Copyright 2016</h5>
    <% end %>
  </footer> 
</div>