<%= render("home_style") %>

<div class='container-fluid body'>
  
  <header class='header section active-section'>
    <div class='row'>
      
      <div class='col-md-2'>
        <%= link_to train_path("h1", "h1-selector", 1) do %>
          <h1 class='h1-selector-1 component active'>youi</h1>
        <% end %>
      </div>      
      <div class='col-md-10'>
        <nav class='nav'>
          <ul>
            <li>
              <button class='edit'>Edit Mode</button><span class='edit-mode'>On</span>
            </li>
            <span> |</span>
            <li>
              Stats
            </li>
            <li>
              Login
            </li>
          </ul>
        </nav>
      </div>      
    </div>
  </header>
  
  
  <section class='instructions section active-section'>
    <span class='loud'>
      It's Your Site
    </span>
    <p>Current number of changes: <%= $count %></p>
    <p>
      Components with a <span class='green'>green</span> border are individually editable
    </p>
    <p>
      Sections with a <span class='blue'>blue</span> border mean you can edit an entire container (i.e. color scheme, spacing)
    </p>

    <%= link_to train_path("button", "button-selector", 1) do %>
      <button class='button-selector-1 button-selector component active'>Try Me</button>
    <% end %>
  </section>
  
  <div class='container site-editables'>

    <div class='row'>
      <div class='col-md-4'>
        <%= link_to train_path("h2", "h2-selector", 1) do %>
          <h2 class='h2-selector-1 component active'>Section Colors</h2>
        <% end %>
        <ul>
          <button>
            Heading
          </button>
           <button>
            This section
          </button>
          <button>
            About
          </button>
          <button>
            Inspirations
          </button>
          <button>
            Footer
          </button>
        </ul>
      </div>
      <div class='col-md-4'>
        <%= link_to train_path("h2", "h2-selector", 1) do %>
          <h2 class='h2-selector-1 component active'>Universal Editables</h2>
        <% end %>
        <ul>
          <button>
            Heading Fonts
          </button>
          <button>
            Body Fonts
          </button>
          <button>
            Line Height
          </button>
        </ul>
      </div>
        <div class='col-md-4'>
        <%= link_to train_path("h2", "h2-selector", 1) do %>
          <h2 class='h2-selector-1 component active'>Other Editables</h2>
        <% end %>
        <ul>
          <button>
            Edit Button
          </button>
          <button>
            This section's buttons
          </button>
          <button>
            Top-right Nav Bar
          </button>
        </ul>
      </div>
    </div>
  </div>

  <section class='info section active-section'>
    <div class='container'>
      <%= link_to train_path("h2", "h2-selector", 1) do %>
        <h2 class='h2-selector-1 component active'>About</h2>
      <% end %>
      
      <%= link_to train_path("paragraph", "paragraph-selector", 1) do %>
        <p class='paragraph-selector-1 component active'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <% end %>
      
      <div class='inspirations'>
        <%= link_to train_path("h2", "h2-selector", 1) do %>
          <h2 class='h2-selector-1 component active'>Inspirations</h2>
        <% end %>
      <div class='row'>
        
        <div class='col-md-6'>
          <figure>
            <%= link_to train_path("image", "image-selector", 1) do %>
              <img class="image-selector-1 image-selector" src="#" alt="Picture here">
            <% end %>
            <h4 class='component active'>Twitch plays pokemon</h4>
          </figure>
          
          <%= link_to train_path("paragraph", "paragraph-selector", 2) do %>
            <p class='paragraph-selector-2 component active'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <% end %>
        </div>
        
        <div class='col-md-6'>
           <figure>
              <%= link_to train_path("image", "image-selector", 1) do %>
                <img class="image-selector-1 image-selector" src="#" alt="Picture here">
              <% end %>
            <h4 class='component active'>Twitch plays pokemon</h4>
          </figure>
          <%= link_to train_path("paragraph", "paragraph-selector", 2) do %>
            <p class='paragraph-selector-2 component active'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <% end %>
        </div>
        
      </div>
      </div>
      
    </div>
  </section>
  
  <footer class='footer section active-section'>
    <p class='component active'>Curated by Greg Perlman. Copyright 2016</p>
  </footer> 
</div>