
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Youir Choices</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class='home-stats'>
  <div class='row'>
    <div class='col-md-6'>
      <%= column_chart @model_counts %>
    </div>
    <div class='col-md-6'>
      <h2>Notable Facts</h2>
      <ul class='fun-facts'>
        <li>32,530 clicks</li>
        <li>Most Changed: H1</li>
        <li>Least Changed: H6</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <h2>More Choices</h2>
  <div class='container'>
    
    <div class='row'>
      
      <%= link_to h1_stats_path do %>
        <div class='col-md-4'>
          <div class='tab'>
            <h3>H1</h3>
            <p>H1 is the blah</p>
          </div>
        </div>
      <% end %>
      
      <%= link_to h2_stats_path do %>
        <div class='col-md-4'>
          <div class='tab'>
            <h3>H2</h3>
            <p>H1 is the blah</p>
          </div>
        </div>
      <% end %>
      
      <%= link_to h3_stats_path do %>
        <div class='col-md-4'>
          <div class='tab'>
            <h3>H3</h3>
            <p>H1 is the blah</p>
          </div>
        </div>
      <% end %>
      
    </div><!-- row -->
    
    <div class='row'>
      
      <%= link_to h4_stats_path do %>
        <div class='col-md-4'>
          <div class='tab'>
            <h3>H4</h3>
            <p>H1 is the blah</p>
          </div>
      </div>
      <% end %>
      
      <%= link_to h5_stats_path do %>
        <div class='col-md-4'>
          <div class='tab'>
            <h3>H5</h3>
            <p>H1 is the blah</p>
          </div>
        </div>
      <% end %>
      
      <%= link_to image_stats_path do %>
        <div class='col-md-4'>
          <div class='tab'>
            <h3>Images</h3>
            <p>H1 is the blah</p>
          </div>
        </div>
      <% end %>
      
    </div><!-- row -->
    
    <div class='row'>
      
      <%= link_to listelement_stats_path do %>
        <div class='col-md-4'>
          <div class='tab'>
            <h3>List Elements</h3>
            <p>H1 is the blah</p>
          </div>
        </div>
      <% end %>
      
      <%= link_to paragraph_stats_path do %>
        <div class='col-md-4'>
          <div class='tab'>
            <h3>Paragraphs</h3>
            <p>H1 is the blah</p>
          </div>
        </div>
      <% end %>
      
      <%= link_to section_stats_path do %>
        <div class='col-md-4'>
          <div class='tab'>
            <h3>Sections</h3>
            <p>H1 is the blah</p>
          </div>
        </div>
      <% end %>
      
    </div><!-- row -->
    
    <div class='row'>
      
      <%= link_to body_stats_path do %>
        <div class='col-md-4'>
          <div class='tab'>
            <h3>Page-wide Stats (fonts, etc.)</h3>
            <p>H1 is the blah</p>
          </div>
        </div>
      <% end %>
      
      <%= link_to button_stats_path do %>
        <div class='col-md-4'>
          <div class='tab'>
            <h3>Buttons</h3>
            <p>H1 is the blah</p>
          </div>
        </div>
      <% end %>
      
      <div class='col-md-4'>
        <div class='tab'>
          <h3>H3</h3>
          <p>H1 is the blah</p>
        </div>
      </div>
      
    </div><!-- row -->
    
    <h5>Copyright (c) Greg Perlman, 2016</h5>

  </div><!-- container -->
  
  
</div>
