<%= render 'partials/stats_header' %>

<div class='stats-sub-heading'>
  <h1>Pargraph Choices</h1>
  <h2><%= @changes %> changes have been made to this component.</h2>
</div>
<div class='container graph-div'>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Fontsize</h2>
      <ul>
        <li>Max: <span class='orange'><%= @fontsize_max %>px</span></li>
        <li>Min: <span class='orange'><%= @fontsize_min %>px</span></li>
        <li>Most Chosen: <span class='orange'><%= @fontsize_most %>px</span></li>
        <li>Least Chosen: <span class='orange'><%= @fontsize_least %>px</span></li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @fontsize, xtitle: "Pixels", ytitle: "Likes", label: "Likes" %>    
    </div>
  </div>
  <hr class='blue-line'>
  <div class='row'>
    <div class='col-md-6'>
      <%= column_chart @textalign, xtitle: "Alignments", ytitle: "Likes", label: "Likes" %>
    </div>
    <div class='col-md-6'>
      <h2>Text-align</h2>
      <ul>
        <li>Most Chosen: <span class='orange'><%= @textalign_most %>px</span></li>
        <li>Least Chosen: <span class='orange'><%= @textalign_least %>px</span></li>
      </ul>
    </div>
  </div>
  <hr class='blue-line'>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Indent</h2>
      <ul>
        <li>Max: <span class='orange'><%= @indent_max %>px</span></li>
        <li>Min: <span class='orange'><%= @indent_min %>px</span></li>
        <li>Most Chosen: <span class='orange'><%= @indent_most %>px</span></li>
        <li>Least Chosen: <span class='orange'><%= @indent_least %>px</span></li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @indent, xtitle: "Pixels", ytitle: "Likes", label: "Likes" %>    
    </div>
  </div>
  <hr class='blue-line'>
  <div class='row'>
    <div class='col-md-6'>
      <%= column_chart @padding, xtitle: "Pixels", ytitle: "Likes", label: "Likes" %>
    </div>
    <div class='col-md-6'>
      <h2>Padding</h2>
      <ul>
        <li>Max: <span class='orange'><%= @padding_max %>px</span></li>
        <li>Min: <span class='orange'><%= @padding_min %>px</span></li>
        <li>Most Chosen: <span class='orange'><%= @padding_most %>px</span></li>
        <li>Least Chosen: <span class='orange'><%= @padding_least %>px</span></li>
      </ul>
    </div>
  </div>
  <hr class='blue-line'>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Word Spacing</h2>
      <ul>
        <li>Max: <span class='orange'><%= @wordspacing_max %>px</span></li>
        <li>Min: <span class='orange'><%= @wordspacing_min %>px</span></li>
        <li>Most Chosen: <span class='orange'><%= @wordspacing_most %>px</span></li>
        <li>Least Chosen: <span class='orange'><%= @wordspacing_least %>px</span></li>
      </ul>
    </div>
    <div class='col-md-6'>
        <%= column_chart @wordspacing, xtitle: "Pixels", ytitle: "Likes", label: "Likes" %>    
    </div>
  </div>
</div>
  <%= render 'partials/stats_footer' %>